.account-update-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-color: var(--color-accent-secondary);
    width: inherit;
    height: inherit;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        z-index: 1;
        width: inherit;
        height: inherit;
        background-image: url("./../../../assets/images/bg/upv-bg.jpg");
        background-position: center;
        background-size: cover;
        opacity: 0.2;
    }
    
    > * {
        align-self: stretch;
    }
    
    *  {
        position: relative;
        z-index: 2;
    }

s    .modal-container {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: 100dvh;
        background-color: rgba(225, 210, 113, 0.67);
        z-index: 100;
    }
}
