.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-small);
    border: none;   
    border-radius: var(--border-roundify); 
    padding: var(--space-small) var(--space-large);
    background-color: transparent;
    font-weight: var(--fw-extra-bold);
    color: var(--color-text-main);
    cursor: pointer;

}