.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-small);
    border: none;   
    border-radius: var(--border-roundify); 
    padding: var(--space-small) var(--space-large);
    background-color: var(--color-accent-secondary);
    font-weight: var(--fw-bold);
    color: var(--color-text-main);
    cursor: pointer;

    &.toggled {
        background-color: var(--color-component-bg); 
    }
}