.event-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
}
.event-card-label {
    font-weight: var(--fw-bold);
    color: var(--color-text-muted);
}
.event-card-empty {
    width: 100%;
    min-height: 80px;
    background-color: transparent;
}
