.emphasis {
    font-weight: inherit;
    color: inherit;

    &.regular {
        font-weight: var(--fw-regular);
    }
    &.medium {
        font-weight: var(--fw-medium);
    }
    &.semi-bold {
        font-weight: var(--fw-semi-bold);
    }   
    &.bold {
        font-weight: var(--fw-bold);
    }

    &.muted {
        color: var(--color-text-muted);
    }
    &.accent {
        color: var(--color-accent-primary);
    } 
    &.white {
        color: white !important;
    }
}