.password-field {
    position: relative;
    width: 100%;

    .password-icon {
        position: absolute;
        top: 50%;
        left: var(--space-medium);
        transform: translateY(-50%);
        z-index: 100;
    }

    .show-password-icon {
        position: absolute;
        top: 50%;
        right: var(--space-medium);
        transform: translateY(-50%);
        z-index: 100;
        cursor: pointer;
    }

    input {
        display: flex;
        width: inherit;
        padding-inline: var(--space-medium);
        border: none;
        text-indent: 32px;
        font-weight: var(--fw-bold);
        background-color: var(--color-component-bg);        
        color: var(--color-text-main);
    }
}