.services-page {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 4fr var(--footer-height);
    width: inherit;     
    height: inherit;
    overflow: hidden;
    background-size: cover;
    background-color: white;

    main {
        display: flex;
        flex-direction: column;
        min-height: 0;
    }

    #category-tab {
        > * { 
            font-size: var(--fs-text);
            margin-right: var(--space-xlarge); 
            white-space: nowrap;
            cursor: pointer;
        }

        .active {
            font-weight: var(--fw-bold);
        }

    }

    #service-list {
        flex: 1;
        min-height: 0;
        overflow-y: auto;
    }

}

.services-page::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 1;
    width: inherit;
    height: inherit;
    background-image: url("./../../../assets/images/bg/upv-bg.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.05;
}


.services-page * {
    position: relative;
    z-index: 2;
}

