.services-page {
    position:relative;
    background-size: cover;
    background-color: white;
    width: inherit;
    height: inherit;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        z-index: 1;
        width: inherit;
        height: inherit;
        background-image: url("./../../../assets/images/bg/upv-bg.jpg");
        background-position: center;
        background-size: cover;
        opacity: 0.05;
    }
    
    *  {
        position: relative;
        z-index: 2;
    }
}

