.card {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: var(--space-medium);

    .image-section > * {
        width: 150px;
        height: 120px;
        object-fit: cover;
        border-radius: 10px;
    }
}