@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    /* colors */
    --color-component-bg: #E8E8E8;
    --color-text-main: #3B3838;
    --color-text-muted: #757575;
    --color-accent-primary: #FFAE00;

    /* font-size */
    --fs-caption: 12px;
    --fs-text: 14px;
    --fs-heading: 16px;
    --fs-title: 24px;

    /* font-weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* spacing */
    --space-xsmall: 4px;
    --space-small: 8px;
    --space-medium: 16px;
    --space-large: 24px;
    --space-xlarge: 32px;

    /* display variables */
    --border-radius: 30px;
    --screen-width: 430px;
    --screen-height: 100dvh;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', Arial, sans-serif;
}

body {
    background-color: black;
}

em {
    font-style: normal;
}

::placeholder {
    color: var(--color-text-muted);
}





