@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    /* colors */
    --color-component-bg: #E8E8E8;
    --color-text-main: #3B3838;
    --color-text-muted: #757575;
    --color-accent-primary: #FFAE00;
    --color-accent-secondary: #FFD271;
    --color-accent-tertiary: #FDFAD5;

    --color-text-success: #226130;
    --color-bg-success: #D4EDDA;

    --color-text-danger: #721C24;
    --color-bg-danger: #F8D7DA;


    /* font-size */
    --fs-caption: 11px;
    --fs-text: 13px;
    --fs-heading: 16px;
    --fs-title: 32px;

    /* font-weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-extra-bold: 800;

    /* spacing */
    --space-xsmall: 4px;
    --space-small: 12px;
    --space-medium: 16px;
    --space-large: 24px;
    --space-xlarge: 36px;

    /* border-radius */
    --border-circlify: 50%;
    --border-roundify: 32px;
    --border-rounded: 8px;

    /* display variables */
    --screen-width: 480px;
    --screen-height: 100dvh;
    --header-height: 60px;
    --footer-height: 60px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', Arial, sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
    height: 100dvh;
    overflow: auto;
}

em {
    font-style: italic;
}

strong {
    font-weight: var(--fw-bold); 
}

a {
    text-decoration: none;
    font-weight: var(--fw-extra-bold);
    color: var(--color-text-main);
}

a > * {
    font-weight: var(--fw-extra-bold);    
    color: var(--color-text-main);
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--color-text-main);
}

::placeholder {
    color: var(--color-text-muted);
}

em {
    font-style: none;
}

/** Util Classes **/

/* flex display */
.flex         { display: flex !important}
.inline-flex  { display: inline-flex !important}

/* flex direction */
.flex-row     { flex-direction: row !important}
.flex-col     { flex-direction: column !important}
.flex-row-rev { flex-direction: row-reverse !important}
.flex-col-rev { flex-direction: column-reverse !important}

/* flex wrap */
.flex-wrap    { flex-wrap: wrap !important}
.flex-nowrap  { flex-wrap: nowrap !important}

/* align items */
.items-start  { align-items: flex-start !important}
.items-center { align-items: center !important}
.items-end    { align-items: flex-end !important}
.items-stretch{ align-items: stretch !important}
.items-base   { align-items: baseline !important}

/* justify content */
.justify-start  { justify-content: flex-start !important}
.justify-center { justify-content: center !important}
.justify-end    { justify-content: flex-end !important}
.justify-between{ justify-content: space-between !important}
.justify-around { justify-content: space-around !important}
.justify-evenly { justify-content: space-evenly !important}

/* overflows */
.overflow-x { overflow-x: auto !important}
.overflow-y { overflow-y: auto !important}

/* --- PADDING UTILITIES --- */
/* Global Padding */
.p-xsmall { padding: var(--space-xsmall) !important}
.p-small  { padding: var(--space-small) !important}
.p-medium { padding: var(--space-medium) !important}
.p-large  { padding: var(--space-large) !important}
.p-xlarge { padding: var(--space-xlarge) !important}

/* Padding X-Axis (Left & Right) */
.px-xsmall { padding-inline: var(--space-xsmall) !important}
.px-small  { padding-inline: var(--space-small) !important}
.px-medium { padding-inline: var(--space-medium) !important}
.px-large  { padding-inline: var(--space-large) !important}
.px-xlarge { padding-inline: var(--space-xlarge) !important}

/* Padding Y-Axis (Top & Bottom) */
.py-xsmall { padding-block: var(--space-xsmall) !important}
.py-small  { padding-block: var(--space-small) !important}
.py-medium { padding-block: var(--space-medium) !important}
.py-large  { padding-block: var(--space-large) !important}
.py-xlarge { padding-block: var(--space-xlarge) !important}

/* Padding Top */
.pt-xsmall { padding-block-start: var(--space-xsmall) !important}
.pt-small  { padding-block-start: var(--space-small) !important}
.pt-medium { padding-block-start: var(--space-medium) !important}
.pt-large  { padding-block-start: var(--space-large) !important}
.pt-xlarge { padding-block-start: var(--space-xlarge) !important}

/* Padding Bottom */
.pb-xsmall { padding-block-end: var(--space-xsmall) !important}
.pb-small  { padding-block-end: var(--space-small) !important}
.pb-medium { padding-block-end: var(--space-medium) !important}
.pb-large  { padding-block-end: var(--space-large) !important}
.pb-xlarge { padding-block-end: var(--space-xlarge) !important}

/* Padding Left (Start) */
.pl-xsmall { padding-inline-start: var(--space-xsmall) !important}
.pl-small  { padding-inline-start: var(--space-small) !important}
.pl-medium { padding-inline-start: var(--space-medium) !important}
.pl-large  { padding-inline-start: var(--space-large) !important}
.pl-xlarge { padding-inline-start: var(--space-xlarge) !important}

/* Padding Right (End) */
.pr-xsmall { padding-inline-end: var(--space-xsmall) !important}
.pr-small  { padding-inline-end: var(--space-small) !important}
.pr-medium { padding-inline-end: var(--space-medium) !important}
.pr-large  { padding-inline-end: var(--space-large) !important}
.pr-xlarge { padding-inline-end: var(--space-xlarge) !important}


/* --- MARGIN UTILITIES --- */
/* Global Margin */
.m-xsmall { margin: var(--space-xsmall) !important}
.m-small  { margin: var(--space-small) !important}
.m-medium { margin: var(--space-medium) !important}
.m-large  { margin: var(--space-large) !important}
.m-xlarge { margin: var(--space-xlarge) !important}

/* Margin X-Axis (Left & Right) */
.mx-xsmall { margin-inline: var(--space-xsmall) !important}
.mx-small  { margin-inline: var(--space-small) !important}
.mx-medium { margin-inline: var(--space-medium) !important}
.mx-large  { margin-inline: var(--space-large) !important}
.mx-xlarge { margin-inline: var(--space-xlarge) !important}
.mx-auto   { margin-inline: auto !important}

/* Margin Y-Axis (Top & Bottom) */
.my-xsmall { margin-block: var(--space-xsmall) !important}
.my-small  { margin-block: var(--space-small) !important}
.my-medium { margin-block: var(--space-medium) !important}
.my-large  { margin-block: var(--space-large) !important}
.my-xlarge { margin-block: var(--space-xlarge) !important}

/* Margin Top */
.mt-xsmall { margin-block-start: var(--space-xsmall) !important}
.mt-small  { margin-block-start: var(--space-small) !important}
.mt-medium { margin-block-start: var(--space-medium) !important}
.mt-large  { margin-block-start: var(--space-large) !important}
.mt-xlarge { margin-block-start: var(--space-xlarge) !important}

/* Margin Bottom */
.mb-xsmall { margin-block-end: var(--space-xsmall) !important}
.mb-small  { margin-block-end: var(--space-small) !important}
.mb-medium { margin-block-end: var(--space-medium) !important}
.mb-large  { margin-block-end: var(--space-large) !important}
.mb-xlarge { margin-block-end: var(--space-xlarge) !important}

/* Margin Left (Start) */
.ml-xsmall { margin-inline-start: var(--space-xsmall) !important}
.ml-small  { margin-inline-start: var(--space-small) !important}
.ml-medium { margin-inline-start: var(--space-medium) !important}
.ml-large  { margin-inline-start: var(--space-large) !important}
.ml-xlarge { margin-inline-start: var(--space-xlarge) !important}

/* Margin Right (End) */
.mr-xsmall { margin-inline-end: var(--space-xsmall) !important}
.mr-small  { margin-inline-end: var(--space-small) !important}
.mr-medium { margin-inline-end: var(--space-medium) !important}
.mr-large  { margin-inline-end: var(--space-large) !important}
.mr-xlarge { margin-inline-end: var(--space-xlarge) !important}


/* gap */
.gap-xsmall { gap: var(--space-xsmall) !important}
.gap-small  { gap: var(--space-small) !important}
.gap-medium { gap: var(--space-medium) !important}
.gap-large  { gap: var(--space-large) !important}
.gap-xlarge { gap: var(--space-xlarge) !important}

.col-gap-xsmall { column-gap: var(--space-xsmall) !important}
.col-gap-small  { column-gap: var(--space-small) !important}
.col-gap-medium { column-gap: var(--space-medium) !important}
.col-gap-large  { column-gap: var(--space-large) !important}
.col-gap-xlarge { column-gap: var(--space-xlarge) !important}

.row-gap-xsmall { row-gap: var(--space-xsmall) !important}
.row-gap-small  { row-gap: var(--space-small) !important}
.row-gap-medium { row-gap: var(--space-medium) !important}
.row-gap-large  { row-gap: var(--space-large) !important}
.row-gap-xlarge { row-gap: var(--space-xlarge) !important}


/* --- BORDER RADIUS UTILITIES --- */
/* Global Border Radius */
.border-circlify  { border-radius: var(--border-circlify) !important}
.border-roundify  { border-radius: var(--border-roundify) !important}
.border-rounded   { border-radius: var(--border-rounded) !important}
.border-none      { border: none !important}

/* Top-Left Border Radius */
.border-tl-circlify  { border-start-start-radius: var(--border-circlify) !important}
.border-tl-roundify  { border-start-start-radius: var(--border-roundify) !important}
.border-tl-rounded   { border-start-start-radius: var(--border-rounded) !important}

/* Top-Right Border Radius */
.border-tr-circlify  { border-start-end-radius: var(--border-circlify) !important}
.border-tr-roundify  { border-start-end-radius: var(--border-roundify) !important}
.border-tr-rounded   { border-start-end-radius: var(--border-rounded) !important}

/* Bottom-Left Border Radius */
.border-bl-circlify  { border-end-start-radius: var(--border-circlify) !important}
.border-bl-roundify  { border-end-start-radius: var(--border-roundify) !important}
.border-bl-rounded   { border-end-start-radius: var(--border-rounded) !important}

/* Bottom-Right Border Radius */
.border-br-circlify  { border-end-end-radius: var(--border-circlify) !important}
.border-br-roundify  { border-end-end-radius: var(--border-roundify) !important}
.border-br-rounded   { border-end-end-radius: var(--border-rounded) !important}

/* Combined Top Corners Only */
.border-t-roundify {
    border-start-start-radius: var(--border-roundify) !important;
    border-start-end-radius: var(--border-roundify) !important;
}
.border-t-rounded {
    border-start-start-radius: var(--border-rounded) !important;
    border-start-end-radius: var(--border-rounded) !important;
}

/* Combined Bottom Corners Only */
.border-b-roundify {
    border-end-start-radius: var(--border-roundify) !important;
    border-end-end-radius: var(--border-roundify) !important;
}
.border-b-rounded {
    border-end-start-radius: var(--border-rounded) !important;
    border-end-end-radius: var(--border-rounded) !important;
}

/* Line Height  */
.lh-xsmall { line-height: var(--space-xsmall) !important}
.lh-small  { line-height: var(--space-small) !important}
.lh-medium { line-height: var(--space-medium) !important}
.lh-large  { line-height: var(--space-large) !important}
.lh-xlarge { line-height: var(--space-xlarge) !important}

/* Width  */
.w-100 {
    width: 100% !important;
}

/* Transformations */
.rotate-left {
    transform: rotate(1deg) !important;
}

.rotate-right{
    transform: rotate(-1deg) !important;
}

/* background color */
.bg-white          { background-color: white !important}
.bg-component      { background-color: var(--color-component-bg) !important}
.bg-component-dark { background-color: var(--color-text-main) !important;}
.bg-accent         { background-color: var(--color-accent-primary) !important}
.bg-accent-soft    { background-color: var(--color-accent-secondary) !important}
.bg-accent-softer  { background-color: var(--color-accent-tertiary) !important}
.bg-success        { background-color: var(--color-bg-success) !important}
.bg-danger         { background-color: var(--color-bg-danger) !important}

/* text color */
.text-white       { color: white !important;}
.text-main        { color: var(--color-text-main) !important }
.text-muted       { color: var(--color-text-muted) !important }
.text-accent      { color: var(--color-accent-primary) !important }
.text-accent-soft { color: var(--color-accent-secondary) !important }
.text-success     { color: var(--color-text-success) !important}
.text-danger      { color: var(--color-text-danger) !important}

/* text-indent */
.text-indent {
    text-indent: 4ch !important;
}

/* opacity */
.translucent { opacity: 0.9 !important}
.opaque      { opacity: 1 !important}

/* font weight */
.fw-regular    { font-weight: var(--fw-regular) !important; }
.fw-medium     { font-weight: var(--fw-medium) !important; }
.fw-semibold   { font-weight: var(--fw-semi-bold) !important; }
.fw-bold       { font-weight: var(--fw-bold) !important; }
.fw-extra-bold { font-weight: var(--fw-extra-bold) !important; }

/* border styling */
.border-solid       { border: solid 2px var(--color-text-muted) !important;}
.border-white       { border: solid 1px white !important;}
.border-main        { border: solid 1px var(--color-text-main) !important }
.border-muted       { border: solid 1px var(--color-text-muted) !important }
.border-accent      { border: solid 1px var(--color-accent-primary) !important }
.border-accent-soft { border: solid 1px var(--color-accent-secondary) !important }

/* cursor */
.cursor-pointer {
    cursor: pointer !important;
}