.tab {
    display: flex;
    align-items: center;
    gap: var(--space-large);
    overflow-x: auto;
    padding: 0.25rem;

    &::-webkit-scrollbar {
        display: none;
    }

    .tab-link {
        cursor: pointer;
    }
}



