.tab-link {
    border: none;
    padding: var(--space-small) var(--space-large);
    
    background: none;
    cursor: pointer;
    font-size: var(--fs-text);
    color: var(--color-text-main);

    &.active {
        font-weight: var(--fw-bold);
        border-bottom: 2px solid var(--color-primary);
    }
}